{% load wagtailcore_tags %}

<section class="py-24 bg-transparent text-slate-800 dark:text-slate-100 transition-colors duration-300">

    <div class="container mx-auto px-6 max-w-4xl reveal">
        <h2 class="text-3xl font-bold mb-8 border-l-4 border-blue-600 pl-4 reveal text-slate-900 dark:text-white">
            {{self.heading}}
        </h2>
        <div class="prose prose-lg text-slate-600 dark:text-slate-400 reveal dark:prose-invert max-w-none">
            {{self.content | richtext }}
        </div>
    </div>

</section>