[project]
name = "wagtailstarterkit"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "requests>=2.32.5",
    "wagtail>=7.2.1",
]
